h3{
	border-style:double;			
		height:100px;		
		background:white;		
				
}
table {
background:white;    
width:800;        
white    
}

p{
    
background:white;    
 color:black;   
    
    
}
img{
background:black;    
padding:10px;    
margin:50px;    
border-style:solid;
border-color:brown;
radius:200px 300px;
    
}





