body{
		background-color:brown;		
			background-position:center;	
background-size:cover;
background-color:brown;

}




#c1{
	background:brown;			
		color:red;		
}
h4{
				background:white;
				border-style:double;ma
border-radius: 5px;
text-align:center;
border-radius :5px;
}

	
}
td{
border-style:;
border-color:maroon;
		
}

img{
border-style:double;		
border-color:brown;
border-radius: 5px;
width:450px;
height:400;

}


}
table{

margin-left:px;
font-size:20px;	
  color:maroon;
}

span{
		border-style:solid;	
				background:white;
margin-left:px;

color:maroon;

 width:200px;
border-radius: 5px;
padding:3;
margin:20px;
font-size:25px;


}



center{
	border-style:solid;			
	border-color:white;			
	background:#5556;			
		color:black;		
	width:389px;		
	margin-left:px;
border-radius:5px;
width:1000;
font-size:30px;


}
h1{
	background:#5552;			
	height:;			
color:yellow;
width: 1000px;





}

button{
    
    font-size:20px;
 margin:30px;   
text-transform:uppercase;   
radius:20px;

background:whhite;

border-radius:10px;

text-align:center;

border-style:dotted;
padding:10px;
color:maroon;

}

#p1{
    
text-align:center;    
 font-size:30px;   
    
}

#center5{
 background:#5554;   
    
  font-size:30px;  
    
  color:#ffd295;  
}

#p8{
    
font-size:30px;    
  text-align:center;  
  background:#5554;
    
  width:1000px;  
   font-family:serief; 
 padding-left:;  
 
 color:yellow;
  padding-top:20px; 
}

#img3{
    
  width:570;  
  
 margin-right:20px;
  
  border-style:double;
  border-color:brown;  
height:500;

}

#p5{
    
 font-size:20px;   
   margin-left:0px; 
 background:#5554;  
   color:white;
  padding:40px; 
  font-family:serif; 
    
}

font{
  font-size:25px;  
    
    
}